@model IEnumerable<StudentRanking.Models.FacultyRankList>
@{
    ViewBag.Title = "FacultyRankList";
    var res = ViewData["result"] as List<StudentRanking.Models.FacultyRankList>;
    bool isMainAdmin = (bool)ViewData["mainAdmin"];
    
    bool isFirstRankListPublished = (bool)ViewData["isFirstRankListPublished"];
    bool isFirstRankingDate = (bool)ViewData["isFirstRankingDate"];

    bool isSecondRankListPublished = (bool)ViewData["isSecondRankListPublished"];
    bool isSecondRankingDate = (bool)ViewData["isSecondRankingDate"];

    bool isThirdRankListPublished = (bool)ViewData["isThirdRankListPublished"];
    bool isThirdRankingDate = (bool)ViewData["isThirdRankingDate"];
    
}

<style>
    table, th, td {
        border: 0px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

@section Scripts
{
    <script type="text/javascript" src="~/JavaScript/ProgrammeRankList.js">
    </script>
}


@if (isFirstRankingDate && !isSecondRankingDate)
{
    if (isMainAdmin && !isFirstRankListPublished)
    {
        <div id="img-container">
            <img id="loading-img" />
        </div>
        
        <div class="publish-btn-container">
            <label>Натиснете бутона, за да публикувате първото класиране.</label>
            <input type="submit" value="Публикувайте" onclick="javascript: PublishRanking()" />
        </div>
    }
    else
    {
        if (!isMainAdmin && !isFirstRankListPublished)
        {
            <label>Първото класиране не е публикувано. Само главният администратор може да публикува класирането.</label>
        }
        else
        {
            if (isFirstRankListPublished)
            {
                <h2>Първо класиране по специалност</h2>
                <br>
                <div><h4>Изберете факултет:</h4></div>
                @Html.DropDownList("faculty", ViewData["faculties"] as SelectList, new { @id = "faculty" })
                <select id="programmeName"></select>
                <input type="submit" value="Потвърдете" onclick="javascript:ChooseProgramme()" />

                <div id="resultTable">
                    @Html.Partial("_ProgrammeRankListTable", Model)
                </div>
            }
        }

    }


}
else
{
    if (!isSecondRankingDate)
    {
        <label>Не е настъпила датата за публикуване на първото класиране.</label>
    }

}


@if (isSecondRankingDate && !isThirdRankingDate)
{
    if (isMainAdmin && !isSecondRankListPublished)
    {
        <div id="img-container">
            <img id="loading-img" />
        </div>

        <div class="publish-btn-container">
            <label>Натиснете бутона, за да публикувате второто класиране.</label>
            <input type="submit" value="Публикувайте" onclick="javascript: PublishRanking()" />
        </div>
    }
    else
    {
        if (!isMainAdmin && !isSecondRankListPublished)
        {
            <label>Второто класирането не е публикувано. Само главният администратор може да публикува класирането.</label>
        }
        else
        {
            if (isSecondRankListPublished)
            {
                <h2>Второ класиране по специалност</h2>
                <br>
                <div><h4>Изберете факултет:</h4></div>
                @Html.DropDownList("faculty", ViewData["faculties"] as SelectList, new { @id = "faculty" })
                <select id="programmeName"></select>
                <input type="submit" value="Потвърдете" onclick="javascript:ChooseProgramme()" />

                <div id="resultTable">
                    @Html.Partial("_ProgrammeRankListTable", Model)
                </div>
            }
        }

    }


}


@if (isThirdRankingDate)
{
    if (isMainAdmin && !isThirdRankListPublished)
    {
        <div id="img-container">
            <img id="loading-img" />
        </div>

        <div class="publish-btn-container">
            <label>Натиснете бутона, за да публикувате третото класиране.</label>
            <input type="submit" value="Публикувайте" onclick="javascript: PublishRanking()" />
        </div>
    }
    else
    {
        if (!isMainAdmin && !isThirdRankListPublished)
        {
            <label>Третото класирането не е публикувано. Само главният администратор може да публикува класирането.</label>
        }
        else
        {
            if (isThirdRankListPublished)
            {
                <h2>Трето класиране по специалност</h2>
                <br>
                <div><h4>Изберете факултет:</h4></div>
                @Html.DropDownList("faculty", ViewData["faculties"] as SelectList, new { @id = "faculty" })
                <select id="programmeName"></select>
                <input type="submit" value="Потвърдете" onclick="javascript:ChooseProgramme()" />

                <div id="resultTable">
                    @Html.Partial("_ProgrammeRankListTable", Model)
                </div>
            }
        }

    }
}
